@{
    var age = Request.QueryString["age"];
    var sex = Request.QueryString["sex"];
    var type = Request.QueryString["type"];
    var keyword = Request.QueryString["keyword"];    
    var db = Database.Open("test");
    var ageSelectQueryString = "SELECT * FROM age";
    var typeSelectQueryString = "SELECT * FROM type";
}
<div id="header1" style="text-align: center;">
    <p>亲亲我的宝贝</p>
</div>
<div id="navigator">
    <ul>
      <li><a class="active" href="#home">主页</a></li>
      <li><a href="#news">优惠</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">男宝</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">女宝</a>
        <div class="dropdown-content">
          <a href="#">Link 4</a>
          <a href="#">Link 5</a>
          <a href="#">Link 6</a>
        </div>
      </li>
      <li id="filters">
          <form method="get" action="ProductQueryList.cshtml">
              <div class="filter">年龄:
                    <select name="age">
                        @foreach(var row in db.Query(ageSelectQueryString))
                        {
                            string startAgeString = @row.StartAge == 0 && @row.StartMonth != 0 ? "" : @row.StartAge + "岁";
                            string startMonthString = @row.StartMonth == 0 ? "" : @row.StartMonth + "个月";
                            string endAgeString = @row.EndAge == 0 ? "" : @row.EndAge + "岁";
                            string endMonthString = @row.EndMonth == 0 ? "" : @row.EndMonth + "个月";
                            string ageString = @startAgeString + @startMonthString + "--" + @endAgeString + @endMonthString;
                            string valueString = string.Format("{0}-{1}", @row.StartAge + @row.StartMonth / 12.0, @row.EndAge + @row.EndMonth / 12.0);
                            <option value = @valueString>@ageString</option>
                        }
                    </select>
              </div>
              <div class="filter"><input type="radio" name="sex" value="boy" checked>男</div>
              <div class="filter"><input type="radio" name="sex" value="girl">女</div>
              <div class="filter">类别:
                    <select name="type">
                        @foreach(var row in db.Query(typeSelectQueryString))
                        {
                            <option value=@row.type>@row.typeChinese</option>
                        }
                    </select>
              </div>
              <div class="filter">关键字:<input type="text" name="keyword"></div>
              <div class="filter"><input type="submit" value="找一找" onClick="RatioCheck()"></div>
          </form>
      <li>
    </ul>
</div> 