@{
    var productId = Request.QueryString["ID"];
    var db = Database.Open("test");
    var selectQueryString = string.Format("SELECT * FROM test WHERE ID='{0}'",productId);
    var row = db.Query(selectQueryString).First();
}
<div id="galary">
    @foreach(var imgLink in row.ImageLinks.Split(';'))
    {
        <div class="img">
            <a target="_blank" href="@imgLink">
            <img src="@imgLink" alt="图片链接失效">
            </a>
        </div>
    }
</div>
<div id="details">
    <div>
        <div class="detail_title">
            名称
        </div>
        <div class="detail_description">
            @row.TitleChinese
        </div>
    </div>
    <div>
        <div class="detail_title">
            品牌
        </div>
        <div class="detail_description">
            @row.Brand
        </div>
    </div>
    <div>
        <div class="detail_title">
            价格
        </div>
        <div class="detail_description">
            £@row.Price
        </div>
    </div>
    <div>
        <div class="detail_title">
            材质
        </div>
        <div class="detail_description">
            @row.MaterialChinese
        </div>
    </div>
    <div>
        <div class="detail_title">
            尺寸
        </div>
        <div id="size_description">
            @row.Sizes
        </div>
    </div>
    <div>
        <div class="detail_title">
            介绍
        </div>
        <div id="size_description">
            @row.DescriptionChinese
        </div>
    </div>
</div>