@{
    var db = Database.Open("test");
    var selectQueryString = "SELECT * FROM test";
}
<div id="thumbnail_list">
    @foreach(var row in db.Query(selectQueryString))
    {
        string[] imgLinks = @row.ImageLinks.Split(';');
        string firstImgLink = imgLinks.First();
        string urlString = string.Format("/ProductViewer.cshtml?id={0}", row.ID);
        <div id="thumbnail">
            <a target="_blank" href=@urlString>
                <div id="thumbnail_image">
                    <img src="@firstImgLink" alt="图片链接失效">
                </div>
             </a>
            <div id="thumbnail_description">
                <div id="thumbnail_name">
                    @row.TitleChinese
                </div>
                <div id="thumbnail_price">
                    @row.Price
                </div>
                    <div id="thumbnail_brand">
                    @row.Brand
                </div>
            </div>
        </div>
    }
</div>
<div id="details">
 
</div>